---
- name: create users
  user:
    name: "{{ item.name }}" 
    password: "{{ item.password | default(omit) }}"
    uid: "{{ item.uid | default(omit) }}"
    createhome: "{{ item.createhome | default(omit) }}" 
    home: "{{ item.home | default(omit) }}"
    non_unique: yes